body {
}

.Btn {
    width: 100px;
    height: 30px;
    font-family: 微软雅黑;
    font-size: 20px;
    border: 0px;
    color: white;
    background-color: #2C3E50;
}

.Comb {
    float: left;
    border: Solid 1px black; 
    font-family: 微软雅黑;
    color: black;
    Height: 15px;
    Width: 100px;
    background: White;
}

.MainBox {
    position: absolute;
    top: 100px;
    left: 230px;
    border: 0px solid #000000;
    right: 30px;
    text-align:center;
}


.TipBox {
    z-index: 9;
    background: white;
    position: absolute;
    width: 600px;
    height: 380px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -190px;
    border: 3px solid #2C3E50;
    display: none;
    position: fixed;
    padding: 2px;
}

.TipTitle {
    background-color: #2C3E50;
    font-family: 微软雅黑;
    font-size: 30px;
    height: 45px;
    color: #ffffff;
    text-align: left;
}

.TipClose {
    line-height: 35px;
    float: right;
    font-size: 55px;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #ffffff;
}

    .TipClose:hover {
        background-color: red;
        color: #ffffff;
        cursor: pointer;
    }

.TipMain {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.TipTable {
    width: 100%;
    height: 100%;
    font-family: 微软雅黑;
    font-size: 20px;
}

    .TipTable tr {
        margin-top: 120px;
    }

.TipLab {
    text-align: right;
    width: 180px;
}

.TipTextBox {
    padding-left: 50px;
    text-align: left;
}

.TipText {
    background: White;
    border: 1px solid Gray;
    font-family: 微软雅黑;
    Font-Size: 15pt;
    width: 200px;
    font-size: 15pt;
}

.MessageBox {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    background-color: White;
    border: 1px solid #F33D2C;
    padding: 5px;
    z-index: 100;
    display: none;
}

.MessageTitle {
    width: 100%;
    height: 45px;
    text-align: left;
    font-family: 微软雅黑;
    font-size: 30px;
    color: White;
    background-color: #F33D2C;
}

.MessageBtn {
    width: 100px;
    height: 40px;
    background-color: #F33D2C;
    color: White;
    font-family: 微软雅黑;
    font-size: 25px;
    border: 0px;
}

.LeftLab {
    text-align: left;
    width: 100%;
}
.gdvinfo {
    margin-top: 12px;
    border: 1px solid #34495E;
    font-family: 微软雅黑;
    Width: 100%;
    Font-Size: 12pt;
}

.searchUI {
    text-align: center;
    width: 100%;
}

.searchLab {
    float: left;
    text-align: right;
    width: 80px;
}

.searchText {
    float: left;
    border: Solid 1px black;
    font-family: 微软雅黑;
    color: black;
    Height: 15px;
    Width: 100px;
    background: White;
}


.out {
    background-color: Black;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: none;
}

#rightTable {
}