
body
{
	 overflow-x:hidden;
	 background-color:White;
	  }

#divright {
    width: 100%;
    position: absolute;
    left: 0px;
    background: #cccccc;
    overflow-x:hidden;
}

.Middle {
    background-color: #cccccc;
    width: 100%; height:100%;
    position: absolute;
    top:0px;
    left: 0px;
}

.TitleTip
{
     color:#000000;
     font-family:"微软雅黑";
     width:100%;
     font-size:40px;
     height:60px;
     text-align:center;
    }
    
#boxthree
{
    position:fixed;
    left:70px;
     top:50px; bottom:0px;
     border:solid 0px #000000;
      width:330px;
     z-index:3;
     background-color:White;
    }


.Box
{
     border:solid 0px #000000;
    background-color:#339966;
     width:100%;
     font-family:"微软雅黑";
     z-index:4; height:25%;
     font-size:26px; color:White;
     
}

.Box:hover
{
     opacity:0.7;
}

.Box td
{
	padding-left:30px;
	} 

.Box5 {
    height:550px;
    background: #ffffff;
    border: 0px solid #2C394C;
      position:absolute;
      left:320px; top:100px; 
      right:50px;
}

a{ text-decoration:none;}

.lblnum
{
	 font-family:"微软雅黑";
	 font-size:50px; color:#fff; border:solid 0px #000000;
	}
.lblnum2
{
	 font-family:"微软雅黑";
	 font-size:70px; color:#fff; border:solid 0px #000000;
	}

.tdtitle
{width: 100%; 
 height: 25px; 
 font-size: 20px; 
 color: #ffffff;
 text-align:left;
 padding-left:10px;
	}
	
#divnewstitle
{
    width: 100%;
     background: #2C394C;
      height: 30px; 
      text-align: center;
       font-size: 20px;  font-family:"微软雅黑";
        color: #ffffff;}
        
        
.divbtnright
{ width:30px;
   height:30px;
   border:1px solid #ffffff;
    margin-left:0px;    }

.icon {
	display: inline-block;
	color: #787878;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 50%;
	background-color: #e5e5e5;
}
.icon:hover {
	color: #3d3d3d;
	box-shadow:0 1px 0 #fff inset, 0 0 2px 3px #afafaf;
	text-decoration:none;
	background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
	background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
	background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
	background-image: linear-gradient(top,#f2f2f2,#e5e5e5);
}

.icon:before {
	font-family: 'iconic';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 15px;
}

.icon-arrow-right:before {
	content: "\e03d";
}

@font-face {
	font-family: 'iconic';
	src:url('../fonts/iconic.eot');
	src:url('../fonts/iconic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconic.svg#iconic') format('svg'),
		url('../fonts/iconic.woff') format('woff'),
		url('../fonts/iconic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


#tongjibiao
{
     position:absolute;
     right:5%;
     top:60px; text-align:center;
      border:solid 0px #000000;
      left:75%; width:25%; height:60%;
      background-color:#ffffff;
      
    }
    
    
    #tongjibiao img
{
      width:200px; height:200px;
    }
    


#div1
{
     left:0px;
     border:0px;
     background-color:Silver;
       -webkit-animation:div1 2s ease-out;
    }
@-webkit-keyframes div1 { 0%  {left:-100%;} 100%{left:0px;}  }
    
#div2
{
     left:25%;
     border:0px;
     background-color:Blue;
       -webkit-animation:div2 1.5s ease-out;
    }
@-webkit-keyframes div2 { 0%  {left:-100%;} 100%{left:25%;}  }   
    
    
#div3
{
     right:25%;
     border:0px;
     background-color:Green;
       -webkit-animation:div3 1.5s ease-out;
    }
@-webkit-keyframes div3 { 0%  {right:-100%;} 100%{right:25%;}  } 
    
    
#div4
{
     right:0px;
     border:0px;
     background-color:Red;
       -webkit-animation:div4 2s ease-out;
    }
@-webkit-keyframes div4 { 0%  {right:-100%;} 100%{right:0px;}  }  
    
    
.divindex
{
     width:25%; height:550px;
     position:absolute; top:50px;
     overflow:hidden;
     -webkit-filter: blur(2px) grayscale(0);
    }
    
 .divindex:hover
 {
      opacity:0.9;
       -webkit-filter: blur(0px) grayscale(0);
     }
     
     
 .divImg
 {
     margin-left:-300px;
     height:100%;
      width:900px;
     }
     

.span1
{
    background-color:rgba(0,0,0,0.2);
       -webkit-animation:span1 2s ease-out;
    }
@-webkit-keyframes span1 { 0%  {left:-100%;} 100%{left:0px;}  }
    
.span2
{background-color:rgba(0,0,0,0.2);
       -webkit-animation:span2 1.5s ease-out;
    }
@-webkit-keyframes span2 { 0%  {left:-100%;} 100%{left:25%;}  }   
    
    
.span3
{background-color:rgba(0,0,0,0.2);
       -webkit-animation:span3 1.5s ease-out;
    }
@-webkit-keyframes span3 { 0%  {right:-100%;} 100%{right:25%;}  } 
    
    
.span4
{background-color:rgba(0,0,0,0.2);
       -webkit-animation:span4 2s ease-out;
    }
@-webkit-keyframes span4 { 0%  {right:-100%;} 100%{right:0px;}  }  


.rightnews
{
       -webkit-animation:rightnews 0.7s ease-out;
    }
@-webkit-keyframes rightnews { 0%  { padding-top:100%;} 100%{padding-top:0px;}  }  
    
    
